snippet local
	local
		${1}
	in
		{VISUAL}
	end
snippet let
	let
		${1}
	in
		{VISUAL}
	end
snippet fun
	fun ${1:name}(${2:args}):${3:type} = ${4:expr}
snippet fn
	fn (${1:args}):${2:type} => ${3:expr}
snippet case
	case ${1:match}
		of pattern_1 => exp_1
		 | pattern_2 => exp_2
			 ...
		 | pattern_n => exp_n
snippet main
	fun print_args(args: string list):unit = case args
		of nil => ()
		 | h :: tail =>(
				print h;
				print "\n";
				print_args tail
			);


	fn (name:string, args:string list):OS.Process.status => (
		print_args args;
		OS.Process.success)
	)
snippet signature
	signature Search :> SEARCH = sig
	end

snippet structure
	structure Search :> SEARCH = struct
	end

snippet main_signature
	(* must be Test *)
	signature Test = sig
		val main : string * string list -> OS.Process.status
	end
snippet main_structure
	(* must be Test *)
	structure Test = struct
		fun main(name:string, args:string list): OS.Process.status = (
			print (!a);
			OS.Process.success
		)
	end

